body {
    background-color: rgb(233, 233, 233);
}

.postConatiner {
    padding: 24px !important;
    width: 80%;
    background-color: white;
    border-radius: 10px;
}

.image {
    width: 100px;
}

#post-text,
.blogTitle {
    word-wrap: break-word !important;
}

.loggedInUserName,
.logoutBtn {
    cursor: pointer;
}


.editButton{
    display: flex;
    flex-direction: row;
    gap: 10px;
}